@page
@using Cipa.BusinessModels
@model Cipa.Pages.Sessions.SessionModel
@{
}

<div>

    <div style="display: flex; flex-direction: row;">
        <div style="display: flex; flex-direction: column; width: 50%;">
            <div style="display: flex; justify-content: space-evenly;">

                <form id="SessionRevert" asp-page-handler="Revert" method="post">
                    <input type="submit" value="Вернуть сессию" class="btn btn-primary">
                </form>
                <form id="SessionNew" method="post">
                    <input type="submit" value="Создать новую сессию" class="btn btn-primary">
                </form>
            </div>
            <div style=" margin-top: 40px;">
                <p style="color: red; border: 1px red">@Model.Message</p>
            </div>
        </div>
        <div style="display: flex; flex-direction: column; width: 50%; justify-content: center; align-items: center;">
            <div style="border: 2px solid black;">          
                <div style="border: 2px solid black;">
                    Активная сессия
                </div>
                <h3 style="text-align: center;">@Model.ActiveSessionNumber</h3>
            </div>
        </div>
    </div>
    
    <div style="display: flex; flex-direction: row">
        <div style="display: flex; width: 60%; margin-top: 40px">
            <div>
                <div>
                    <form id="SessionView" asp-page-handler="AddSession" method="post">
                        <div>
                            <label>Название сесии: </label>
                            <input type="text" name="sessionName" id="sessionName"/ required="">
                            <span asp-validation-for="SessionName" class="text-danger"></span>
                        </div>
                        <br/>
                        <div>
                            
                            <label>Дата начала сесии: </label>
                            <input type="date" id="SessionStart" name="SessionStart" asp-for="SessionStart" value="2018-07-22" min="2018-01-01" max="2090-12-31">
                        </div>
                        <br/>
                        <div>
                            <label>Дата окончании сесии: </label>
                            <input type="date" id="SessionEnd" name="SessionEnd" asp-for="SessionEnd" value="2018-07-22" min="2018-01-01" max="2090-12-31">
                        </div>
                        <br/>
                        <div>
                            <input type="submit" value="Создать сессию" class="btn btn-primary">
                        </div>
                    </form>
                </div>
                <div style="display: flex; width: 70%; padding-top: 50px;">
                    <form id="ExamView" asp-page-handler="AddExam" method="post">
                        <div>
                            <label>Экзамен: </label>
                            <select style="width: 70%" asp-for="ExamId" asp-items="@(new SelectList(Model.ExamsList, "ExamId", "ExamName"))" required>
                                <option value="" selected disabled> --Выберите Экзамен--</option>
                            </select>
                            <span asp-validation-for="ExamId" class="text-danger"></span>
                        </div>
                        <br />
                        <div>
                            <label>Дата экзамена: </label>
                            <input type="date" id="ExamDate" name="ExamDate" asp-for="ExamDate" value="2018-07-22" min="2018-01-01" max="2090-12-31">
                        </div>
                        <br />
                        <div>
                            <input type="submit" value="Добавить экзамен" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
       
        <div style="display: flex; flex-direction: column; width: 40%;">
            <h3>Экзамены в текущей сессии</h3>
            <table class="table">
                <tr><td>Name</td><td>Date</td></tr>
                @if(Model.ExamsInSessionList.Any())
                {
                    @foreach(ExamViewModel exam in Model.ExamsInSessionList)
                    {
                        <tr>
                            <td>@exam.ExamName</td>
                            <td>@exam.ExamDate?.ToString("yyyy/MM/dd")</td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
    
</div>